@model Expense_Tracker3.Models.Expense
@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                <div class="card-header">
                    <h1 class="text-center text-primary">Add Expense</h1>
                </div>
                <div class="card-body">
                    <form method="post" asp-action="Create" asp-controller="Expense">

                        <div>
                            @if(ViewBag.Message!=null){
                            <div class="alert-success">
                                @ViewBag.Message
                            </div>

                            }
                        </div>  
                   
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="CategoryId_Fk"></label>
                            <select asp-for="CategoryId_Fk" class="form-control" asp-items="ViewBag.CategoryId_Fk">Select</select>

                        </div>

                        <div class="form-group">
                            <label asp-for="Date"></label>
                            <input type="date" asp-for="Date" class="form-control" placeholder="Enter Date" />
                            <span asp-validation-for="Date" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Amount"></label>
                            <input type="text" asp-for="Amount" class="form-control" placeholder="Enter Amount" />
                            <span asp-validation-for="Amount" class="text-danger"></span>
                        </div>



                        <div class="form-group">
                            <input type="submit" value="Submit" class="btn btn-sm btn-outline-success floatright" />

                        </div>


                    </form>

                </div>

            </div>

        </div>

    </div>

</div>


@section Scripts{

    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

